<h1>Enter a New Text Entry</h1>
<form action="<%= text_entries_path %>" method="post">
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	<input type="text" name="title" placeholder="title">
	<textarea name="content" rows="10" cols="50" placeholder="content"></textarea>
	<input type="hidden" name="source" value="text">

	<input type="submit" id="submit">
</form>