<h4>Analyze the meaning behind language with the help of Machine Learning. A call to the <a href="http://www.datumbox.com/">Datumbox API</a> will read and classify text. You can easily type in your own text or enter the URL of a Twitter Post.</h4>

<p>Example #1:</p>
<p class="well"><em>"You get a lot of movie for your sixteen bucks, but you'd have a better time if you got less movie ... The staggering bloat aside, there are some hysterically funny scenes, killer dialogue, great performances, and Scorcese-level craftsmanship throughout."</em></p>

<p>Example #2:</p>
<p class="well"><em>"If you are reading this because it is your darling fragrance, please wear it at home exclusively, and tape the windows shut"</em></p>

<h4>The meaning behing these examples:</h4>
<div class="col-md-8 col-md-offset-2">
	<table class="table table-condensed">
		<thead>
			<th></th>
			<th>Sentiment?</th>
			<th>Topic?</th>
			<th>Spam?</th>
			<th>Language?</th>
		</thead>
		<tr>
			<td>Example 1</td>
			<td>Positive</td>
			<td>Arts</td>
			<td>Nospam</td>
			<td>English</td>
		</tr>
		<tr>
			<td>Example 2</td>
			<td>Negative</td>
			<td>Shopping</td>
			<td>Spam</td>
			<td>English</td>
		</tr>


	</table>
</div>